<form action="/login" method="post">
    {{#message}}
        <h3 class="{{style}}">{{text}}</h3>
    {{/message}}
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <table>
        <tr>
            <td><label>Username:</label></td>
            <td><input type="text" name="username"/><br/></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
            <td>Or <a href="/register">Register!</a></td>
        </tr>
    </table>
</form>