<form action="/login" method="post">
    <table>
        <tr>
            <td><label>Username:</label></td>
            <td><input type="text" name="username"/><br/></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
            <td>Or <a href="/register">Register!</a></td>
        </tr>
    </table>
</form>