<form action="/register" method="post">
    {{#message}}
        <h3 class="{{style}}">{{text}}</h3>
    {{/message}}
    <table>
        <tr>
            <td><label>User Name:</label></td>
            <td><input type="text" name="username"/><br/></td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td><input type="email" name="email"/><br/></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="password" name="password"/></td>
        </tr>
        <tr>
            <td><label>Password Again:</label></td>
            <td><input type="password" name="passwordagain"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" >Submit</button>
            </td>
            <td>
                <a href="/">Cancel</a>
            </td>
        </tr>
    </table>



</form>